.background-example {
  background-image: url("../assets/roadmap/background-mush3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
