/* MovingText.css */
@keyframes moveRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moving-container {
  overflow: hidden; /* Ensures text doesn't show outside of its container */
  white-space: nowrap; /* Prevents text from wrapping */
  position: relative;
  width: 100vw; /* Full viewport width */
}

.moving-text {
  display: inline-block;
  animation: moveRightToLeft 600s linear infinite; /* Increased duration to 30s */
  font-size: 24px; /* Adjust the font size as needed */
  white-space: nowrap; /* Ensures no line breaks */
}
