/* Config */
/* Pauls awesome mixin */
/* Styles */
.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .page-bg {
  background: #111
    url("https://images.unsplash.com/photo-1562729562-679ab5311bbf?dpr=1&auto=format&fit=crop&w=1920&h=1080&q=100&cs=tinysrgb&crop=")
    no-repeat top center;
  background-size: cover;
  z-index: -1;
} */

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: 2560px;
}

.particle-1 {
  animation: animParticle 60s linear infinite;
  box-shadow: 0px 0px #fff, 685px 972px #fff, 1910px 312px #fff,
    1774px 260px #fff, 827px 1903px #fff, 2425px 1743px #fff, 2547px 1873px #fff,
    2015px 754px #fff, 462px 1369px #fff, 2191px 162px #fff, 415px 2547px #fff,
    1857px 2473px #fff, 661px 1119px #fff, 1391px 608px #fff, 2276px 2160px #fff,
    1726px 655px #fff, 2195px 2059px #fff, 1127px 2074px #fff, 1768px 390px #fff,
    1418px 1633px #fff, 2112px 2116px #fff, 1253px 112px #fff,
    1612px 2378px #fff, 661px 2206px #fff, 2040px 1027px #fff,
    1900px 1132px #fff, 1936px 1346px #fff, 1648px 1298px #fff,
    1863px 1484px #fff, 1275px 407px #fff, 211px 479px #fff, 1362px 312px #fff,
    1212px 1236px #fff, 1059px 1024px #fff, 1990px 2053px #fff,
    1131px 2498px #fff, 879px 2235px #fff, 601px 2160px #fff, 1158px 2560px #fff,
    615px 2510px #fff, 1126px 1020px #fff, 2274px 884px #fff, 1092px 1747px #fff,
    1236px 634px #fff, 560px 666px #fff, 832px 1536px #fff, 1127px 1063px #fff,
    605px 884px #fff, 2013px 2440px #fff, 2260px 705px #fff, 1982px 2229px #fff,
    1792px 1261px #fff, 1056px 1465px #fff, 2266px 865px #fff,
    2116px 2003px #fff, 1741px 1066px #fff, 153px 1038px #fff,
    1725px 1765px #fff, 1238px 1251px #fff, 2355px 501px #fff, 2517px 235px #fff,
    2444px 1467px #fff, 1334px 2512px #fff, 1840px 1875px #fff,
    2404px 818px #fff, 2186px 2452px #fff, 562px 870px #fff, 1588px 2083px #fff,
    177px 707px #fff, 2451px 1018px #fff, 380px 2380px #fff, 241px 1019px #fff,
    1440px 1657px #fff, 2305px 1835px #fff, 105px 189px #fff, 1508px 806px #fff,
    571px 408px #fff, 1025px 2097px #fff, 500px 1586px #fff, 2089px 253px #fff,
    1213px 68px #fff, 836px 2324px #fff, 1031px 1302px #fff, 2334px 799px #fff,
    2234px 1299px #fff, 67px 1727px #fff, 1435px 685px #fff, 523px 880px #fff,
    217px 1024px #fff, 302px 745px #fff, 1526px 1423px #fff, 182px 305px #fff,
    1964px 592px #fff, 1315px 285px #fff, 1992px 2431px #fff, 1258px 1181px #fff,
    1169px 319px #fff, 2136px 1681px #fff, 1685px 562px #fff, 1902px 1446px #fff,
    402px 2296px #fff, 2537px 1409px #fff, 1335px 1763px #fff,
    2172px 1266px #fff, 4px 1872px #fff, 1349px 1696px #fff, 1638px 1003px #fff,
    2055px 1456px #fff, 2289px 187px #fff, 728px 554px #fff, 1700px 1482px #fff,
    1041px 114px #fff, 2415px 1922px #fff, 1648px 1759px #fff, 2399px 954px #fff,
    617px 148px #fff, 1950px 377px #fff, 2294px 690px #fff, 1624px 1729px #fff,
    1186px 2384px #fff, 500px 1073px #fff, 2248px 948px #fff, 1543px 1174px #fff,
    1460px 2107px #fff, 628px 2013px #fff, 181px 502px #fff, 1250px 1826px #fff,
    2036px 983px #fff, 1156px 1690px #fff, 1925px 1968px #fff, 2081px 437px #fff,
    1936px 56px #fff, 2018px 2480px #fff, 2372px 1271px #fff, 1659px 1712px #fff,
    1291px 783px #fff, 1419px 2553px #fff, 241px 2535px #fff, 454px 1476px #fff,
    561px 2333px #fff, 2238px 201px #fff, 1450px 1303px #fff, 1140px 1771px #fff,
    2553px 2094px #fff, 305px 660px #fff, 418px 386px #fff, 513px 1471px #fff,
    2320px 2201px #fff, 216px 2177px #fff, 88px 2547px #fff, 449px 1883px #fff,
    1105px 811px #fff, 1138px 2018px #fff, 1555px 1403px #fff, 633px 2104px #fff,
    891px 621px #fff, 349px 792px #fff, 1749px 2353px #fff, 537px 678px #fff,
    2202px 2104px #fff, 1902px 89px #fff, 2178px 1611px #fff, 763px 651px #fff,
    1041px 974px #fff, 1119px 179px #fff, 51px 135px #fff, 2508px 1560px #fff,
    213px 225px #fff, 843px 2221px #fff, 334px 2492px #fff, 546px 296px #fff,
    501px 90px #fff, 2101px 2485px #fff, 1733px 1841px #fff, 1858px 2138px #fff,
    1772px 1145px #fff, 2136px 1056px #fff, 1417px 1195px #fff, 90px 462px #fff,
    2455px 392px #fff, 2123px 2179px #fff, 1202px 1065px #fff, 830px 2557px #fff,
    11px 1072px #fff, 123px 2378px #fff, 2266px 2509px #fff, 259px 800px #fff,
    2262px 346px #fff, 653px 2056px #fff, 1546px 2148px #fff, 505px 2215px #fff,
    382px 1284px #fff, 2420px 1704px #fff, 1542px 422px #fff, 603px 1717px #fff,
    447px 1134px #fff, 122px 136px #fff, 1889px 234px #fff, 2008px 2314px #fff,
    1362px 54px #fff, 783px 1836px #fff, 702px 644px #fff, 1713px 2412px #fff,
    1436px 1182px #fff, 1502px 806px #fff, 1950px 1595px #fff, 1957px 544px #fff,
    367px 1156px #fff, 1871px 386px #fff, 827px 1998px #fff, 2379px 2439px #fff,
    2038px 924px #fff, 1151px 1403px #fff, 782px 2226px #fff, 875px 1627px #fff,
    141px 2118px #fff, 2180px 1057px #fff, 446px 113px #fff, 1475px 1138px #fff,
    1791px 2073px #fff, 2216px 836px #fff, 354px 1133px #fff, 2270px 1991px #fff,
    2310px 2244px #fff, 2463px 2507px #fff, 2297px 1338px #fff,
    1714px 1140px #fff, 1352px 989px #fff, 1670px 1851px #fff,
    1769px 1781px #fff, 1820px 905px #fff, 1731px 2072px #fff, 1877px 781px #fff,
    44px 1220px #fff, 1280px 1719px #fff, 2165px 911px #fff, 1693px 2546px #fff,
    1670px 915px #fff, 1505px 1603px #fff, 133px 770px #fff, 1124px 1632px #fff,
    1081px 392px #fff, 863px 1311px #fff, 2173px 1772px #fff, 70px 1122px #fff,
    2010px 897px #fff, 347px 1503px #fff, 2175px 1255px #fff, 12px 954px #fff,
    589px 2073px #fff, 1021px 498px #fff, 1742px 786px #fff, 222px 344px #fff,
    2539px 690px #fff, 1903px 2256px #fff, 337px 1959px #fff, 1328px 2441px #fff,
    97px 577px #fff, 1792px 756px #fff, 359px 2462px #fff, 2340px 1158px #fff,
    1710px 2307px #fff, 1037px 2477px #fff, 2411px 376px #fff, 344px 1929px #fff,
    547px 1490px #fff, 2126px 1893px #fff, 2316px 670px #fff, 2102px 2354px #fff,
    2153px 1166px #fff, 2239px 2396px #fff, 1025px 1354px #fff, 705px 801px #fff,
    276px 2321px #fff, 1697px 33px #fff, 2252px 748px #fff, 1159px 1609px #fff,
    148px 1521px #fff, 1918px 798px #fff, 256px 1653px #fff, 111px 1586px #fff,
    2406px 900px #fff, 123px 2334px #fff, 570px 512px #fff, 1635px 1244px #fff,
    2091px 385px #fff, 1865px 2555px #fff, 949px 845px #fff, 2322px 2503px #fff,
    192px 1855px #fff, 2498px 1696px #fff, 1357px 1038px #fff,
    2108px 2186px #fff, 359px 1588px #fff, 2444px 271px #fff, 199px 2231px #fff,
    180px 1965px #fff, 264px 1438px #fff, 2090px 1912px #fff, 1078px 333px #fff,
    1930px 1869px #fff, 919px 5px #fff, 1550px 914px #fff, 192px 1190px #fff,
    1055px 2486px #fff, 333px 1406px #fff, 1054px 1734px #fff,
    2536px 2364px #fff, 428px 2528px #fff, 2280px 644px #fff, 2413px 619px #fff,
    1883px 2442px #fff, 1310px 997px #fff, 395px 28px #fff, 243px 374px #fff,
    1616px 1934px #fff, 1602px 2056px #fff, 1998px 1791px #fff,
    531px 1421px #fff, 85px 140px #fff, 1917px 944px #fff, 367px 189px #fff,
    2126px 1930px #fff, 2118px 2069px #fff, 1164px 898px #fff, 2060px 686px #fff,
    1165px 1824px #fff, 1668px 1455px #fff, 1460px 414px #fff, 2148px 771px #fff,
    309px 2109px #fff, 125px 1053px #fff, 1390px 1017px #fff, 1434px 1710px #fff,
    1203px 1749px #fff, 318px 1751px #fff, 1139px 918px #fff, 1490px 299px #fff,
    753px 549px #fff, 54px 1828px #fff, 1857px 271px #fff, 1462px 498px #fff,
    2510px 1463px #fff, 774px 142px #fff, 67px 770px #fff, 321px 2394px #fff,
    399px 196px #fff, 1571px 1288px #fff, 2152px 404px #fff, 520px 786px #fff,
    1021px 1113px #fff, 22px 1265px #fff, 889px 1679px #fff, 2510px 1813px #fff,
    2188px 1589px #fff, 2374px 2218px #fff, 2428px 187px #fff, 313px 1045px #fff,
    46px 2421px #fff, 266px 1840px #fff, 1835px 2210px #fff, 2189px 2293px #fff,
    1186px 1438px #fff, 1074px 1452px #fff, 1160px 1215px #fff,
    1710px 758px #fff, 1768px 1025px #fff, 600px 1242px #fff, 2466px 1307px #fff,
    1398px 1607px #fff, 2239px 466px #fff, 2438px 1550px #fff, 913px 1966px #fff,
    537px 1779px #fff, 100px 971px #fff, 2344px 148px #fff, 1970px 2517px #fff,
    2490px 2400px #fff, 1223px 1087px #fff, 308px 1585px #fff,
    1412px 2217px #fff, 2186px 17px #fff, 1802px 143px #fff, 2431px 1026px #fff,
    88px 2293px #fff, 2344px 772px #fff, 1102px 2219px #fff, 526px 1888px #fff,
    1696px 730px #fff, 1730px 135px #fff, 1119px 2397px #fff, 2480px 1800px #fff,
    2156px 541px #fff, 1216px 457px #fff, 789px 1763px #fff, 1324px 527px #fff,
    288px 1454px #fff, 1361px 2102px #fff, 1546px 1107px #fff, 296px 154px #fff,
    1048px 2259px #fff, 2182px 1495px #fff, 337px 669px #fff, 912px 1600px #fff,
    2414px 998px #fff, 2248px 736px #fff, 955px 1822px #fff, 1310px 1597px #fff,
    1300px 2020px #fff, 2394px 1382px #fff, 893px 98px #fff, 698px 516px #fff,
    1412px 2181px #fff, 1357px 1354px #fff, 302px 1832px #fff, 1775px 345px #fff,
    8px 1640px #fff, 1866px 759px #fff, 807px 603px #fff, 2364px 1268px #fff,
    1827px 1621px #fff, 1189px 1569px #fff, 2002px 2368px #fff, 826px 123px #fff,
    2505px 217px #fff, 2475px 182px #fff, 921px 225px #fff, 2475px 1641px #fff,
    21px 2122px #fff, 821px 2360px #fff, 1354px 1474px #fff, 1718px 951px #fff,
    1126px 2256px #fff, 594px 2266px #fff, 2248px 1928px #fff,
    2098px 2519px #fff, 2481px 1332px #fff, 1428px 1671px #fff,
    1416px 1538px #fff, 282px 1689px #fff, 1133px 1904px #fff,
    2394px 1425px #fff, 1436px 1906px #fff, 745px 995px #fff, 1788px 1794px #fff,
    735px 839px #fff, 1973px 2247px #fff, 2243px 1143px #fff, 549px 1495px #fff,
    2117px 2191px #fff, 1280px 1566px #fff, 302px 176px #fff, 162px 639px #fff,
    1006px 1216px #fff, 1621px 2163px #fff, 298px 1228px #fff,
    1339px 2503px #fff, 1844px 1384px #fff, 1788px 743px #fff, 1880px 311px #fff,
    740px 634px #fff, 1313px 35px #fff, 432px 314px #fff, 1970px 337px #fff,
    163px 43px #fff, 33px 2322px #fff, 2484px 133px #fff, 116px 379px #fff,
    2278px 1990px #fff, 326px 1044px #fff, 1500px 1232px #fff,
    2104px 1401px #fff, 1238px 1832px #fff, 1038px 560px #fff,
    1549px 2434px #fff, 435px 1420px #fff, 546px 1332px #fff, 395px 548px #fff,
    648px 1994px #fff, 469px 2377px #fff, 1931px 1983px #fff, 297px 1393px #fff,
    1952px 2485px #fff, 749px 1043px #fff, 1115px 1191px #fff,
    1830px 1573px #fff, 1032px 104px #fff, 2152px 1051px #fff,
    1565px 2288px #fff, 1822px 623px #fff, 883px 937px #fff, 921px 1573px #fff,
    99px 1723px #fff, 186px 1624px #fff, 889px 2115px #fff, 2490px 2529px #fff,
    470px 2417px #fff, 2281px 1905px #fff, 464px 210px #fff, 899px 120px #fff,
    739px 1470px #fff, 1627px 1006px #fff, 1713px 1197px #fff, 851px 753px #fff,
    533px 104px #fff, 275px 1202px #fff, 2205px 91px #fff, 391px 1369px #fff,
    1210px 546px #fff, 1444px 2115px #fff, 1095px 1720px #fff, 161px 1441px #fff,
    2217px 673px #fff, 2168px 1341px #fff, 2026px 2444px #fff, 986px 306px #fff,
    1362px 864px #fff, 995px 1038px #fff, 689px 1035px #fff, 2245px 1548px #fff,
    1033px 2492px #fff, 1231px 696px #fff, 778px 702px #fff, 1135px 2428px #fff,
    626px 503px #fff, 1136px 1515px #fff, 2346px 1068px #fff, 311px 23px #fff,
    1896px 1267px #fff, 1043px 85px #fff, 184px 597px #fff, 1383px 1327px #fff,
    2555px 688px #fff, 1712px 1056px #fff, 1134px 720px #fff, 1289px 1537px #fff,
    1965px 85px #fff, 1582px 1147px #fff, 434px 1011px #fff, 2544px 1163px #fff,
    1981px 2011px #fff, 1335px 1766px #fff, 1938px 1225px #fff, 949px 714px #fff,
    1740px 381px #fff, 449px 1484px #fff, 173px 969px #fff, 697px 2079px #fff,
    2529px 2279px #fff, 1616px 2312px #fff, 995px 1690px #fff, 2082px 74px #fff,
    2230px 233px #fff, 105px 108px #fff, 1989px 1724px #fff, 1063px 116px #fff,
    584px 1442px #fff, 1087px 890px #fff, 2170px 1330px #fff, 777px 1855px #fff,
    1854px 1308px #fff, 2126px 992px #fff, 2077px 1164px #fff, 128px 2009px #fff,
    551px 2217px #fff, 513px 2443px #fff, 2219px 2513px #fff, 1888px 1735px #fff,
    304px 1153px #fff, 1086px 180px #fff, 127px 1828px #fff, 2393px 1650px #fff,
    795px 613px #fff, 1054px 530px #fff, 1471px 1685px #fff, 398px 22px #fff,
    196px 814px #fff, 1797px 415px #fff, 1117px 391px #fff, 143px 507px #fff,
    2337px 167px #fff, 70px 405px #fff, 1237px 1083px #fff, 1720px 2456px #fff,
    1069px 1142px #fff, 1610px 2037px #fff, 1426px 2040px #fff, 438px 31px #fff,
    167px 93px #fff, 423px 2236px #fff, 687px 1231px #fff, 490px 1021px #fff,
    733px 202px #fff, 1934px 1802px #fff, 1267px 2068px #fff, 1710px 288px #fff,
    529px 603px #fff, 1262px 435px #fff, 1170px 1455px #fff, 1906px 1452px #fff,
    1041px 1983px #fff;
  height: 1px;
  width: 1px;
}

.particle-1:after {
  box-shadow: 0px 0px #fff, 309px 698px #fff, 999px 1725px #fff,
    1437px 1861px #fff, 1536px 568px #fff, 439px 147px #fff, 1023px 2353px #fff,
    609px 1962px #fff, 1093px 2507px #fff, 753px 838px #fff, 1588px 2296px #fff,
    1198px 1216px #fff, 2421px 812px #fff, 226px 424px #fff, 614px 2055px #fff,
    1738px 2325px #fff, 98px 2371px #fff, 2005px 215px #fff, 1264px 1979px #fff,
    2353px 2106px #fff, 363px 744px #fff, 2142px 423px #fff, 1126px 1703px #fff,
    2438px 175px #fff, 1692px 1696px #fff, 2002px 1660px #fff, 593px 2257px #fff,
    2046px 809px #fff, 391px 409px #fff, 652px 288px #fff, 2471px 344px #fff,
    1454px 669px #fff, 2027px 672px #fff, 927px 212px #fff, 1223px 1771px #fff,
    1271px 949px #fff, 922px 1522px #fff, 1601px 966px #fff, 2304px 677px #fff,
    553px 242px #fff, 24px 180px #fff, 1893px 665px #fff, 2246px 1056px #fff,
    401px 2523px #fff, 1720px 1827px #fff, 32px 1393px #fff, 1877px 283px #fff,
    1773px 941px #fff, 1978px 1123px #fff, 1605px 485px #fff, 1544px 446px #fff,
    74px 2291px #fff, 1276px 2094px #fff, 1858px 1978px #fff, 492px 1244px #fff,
    2272px 763px #fff, 45px 2321px #fff, 1319px 1770px #fff, 1971px 2053px #fff,
    2105px 2006px #fff, 1852px 1853px #fff, 264px 2195px #fff,
    1840px 2071px #fff, 745px 2388px #fff, 965px 523px #fff, 270px 217px #fff,
    1413px 301px #fff, 918px 75px #fff, 792px 90px #fff, 2345px 394px #fff,
    2498px 1151px #fff, 2422px 890px #fff, 404px 1222px #fff, 598px 1230px #fff,
    2429px 248px #fff, 1804px 715px #fff, 1995px 1238px #fff, 2450px 505px #fff,
    292px 1091px #fff, 1737px 2045px #fff, 1588px 1147px #fff, 847px 1593px #fff,
    2230px 1080px #fff, 855px 1316px #fff, 2191px 833px #fff, 1066px 1598px #fff,
    1366px 1620px #fff, 785px 2039px #fff, 1581px 340px #fff, 827px 1109px #fff,
    2342px 2473px #fff, 1255px 2290px #fff, 1203px 2139px #fff,
    1305px 1051px #fff, 25px 1213px #fff, 1473px 2535px #fff, 150px 2038px #fff,
    1261px 1472px #fff, 1276px 1555px #fff, 1354px 34px #fff, 2367px 2304px #fff,
    370px 1801px #fff, 393px 1619px #fff, 336px 1413px #fff, 43px 1802px #fff,
    700px 1566px #fff, 1931px 1234px #fff, 2312px 2413px #fff, 1772px 909px #fff,
    1314px 2325px #fff, 553px 119px #fff, 596px 1153px #fff, 2138px 527px #fff,
    740px 250px #fff, 236px 2522px #fff, 1629px 737px #fff, 1657px 1291px #fff,
    1703px 2338px #fff, 744px 1823px #fff, 1296px 178px #fff, 1044px 1055px #fff,
    20px 1247px #fff, 2354px 311px #fff, 494px 1876px #fff, 881px 2116px #fff,
    1745px 333px #fff, 2446px 131px #fff, 1552px 1345px #fff, 287px 2026px #fff,
    911px 750px #fff, 1349px 54px #fff, 1587px 2154px #fff, 958px 1305px #fff,
    2255px 2521px #fff, 1812px 1893px #fff, 2107px 678px #fff, 219px 313px #fff,
    1991px 2098px #fff, 355px 67px #fff, 2432px 417px #fff, 630px 1285px #fff,
    1145px 381px #fff, 1306px 2169px #fff, 527px 1201px #fff, 1537px 146px #fff,
    2367px 1987px #fff, 862px 994px #fff, 2383px 2031px #fff, 758px 126px #fff,
    2255px 1931px #fff, 442px 920px #fff, 1577px 1599px #fff, 1612px 2301px #fff,
    1011px 657px #fff, 80px 1000px #fff, 1666px 1905px #fff, 655px 396px #fff,
    1686px 188px #fff, 1285px 1571px #fff, 308px 1247px #fff, 1769px 579px #fff,
    1297px 1255px #fff, 2392px 2532px #fff, 227px 1729px #fff,
    1524px 2474px #fff, 1339px 2509px #fff, 1928px 1953px #fff,
    1595px 2126px #fff, 2501px 1991px #fff, 559px 2405px #fff,
    1079px 1651px #fff, 1798px 2196px #fff, 1441px 1413px #fff,
    632px 1797px #fff, 1238px 148px #fff, 1829px 667px #fff, 1653px 121px #fff,
    1652px 1149px #fff, 622px 1985px #fff, 1692px 2465px #fff, 284px 2223px #fff,
    952px 906px #fff, 263px 2534px #fff, 560px 123px #fff, 940px 2079px #fff,
    1470px 1475px #fff, 1005px 105px #fff, 436px 2013px #fff, 282px 410px #fff,
    1885px 2024px #fff, 2067px 1916px #fff, 1728px 1315px #fff, 840px 349px #fff,
    1701px 890px #fff, 1306px 781px #fff, 127px 1695px #fff, 1408px 574px #fff,
    1025px 1533px #fff, 2227px 1564px #fff, 329px 2344px #fff, 349px 633px #fff,
    131px 15px #fff, 248px 466px #fff, 533px 1258px #fff, 674px 2555px #fff,
    828px 1219px #fff, 1973px 1583px #fff, 1125px 1280px #fff, 395px 86px #fff,
    1747px 2288px #fff, 1751px 239px #fff, 54px 319px #fff, 458px 1888px #fff,
    661px 14px #fff, 1340px 2529px #fff, 2321px 291px #fff, 964px 1756px #fff,
    1966px 2365px #fff, 944px 1992px #fff, 761px 1174px #fff, 1425px 2489px #fff,
    2213px 2175px #fff, 711px 2223px #fff, 2236px 1497px #fff,
    1040px 1546px #fff, 61px 1510px #fff, 1145px 2129px #fff, 521px 2165px #fff,
    191px 469px #fff, 1790px 1023px #fff, 2263px 1606px #fff, 1081px 1797px #fff,
    940px 1601px #fff, 845px 1209px #fff, 1272px 1078px #fff, 1339px 923px #fff,
    951px 520px #fff, 1333px 2190px #fff, 2120px 1629px #fff, 886px 435px #fff,
    2282px 2092px #fff, 211px 700px #fff, 2334px 2464px #fff, 1406px 167px #fff,
    2046px 2162px #fff, 315px 970px #fff, 507px 2237px #fff, 1237px 561px #fff,
    417px 2029px #fff, 1872px 1757px #fff, 122px 2186px #fff, 1514px 2121px #fff,
    1149px 159px #fff, 2294px 1671px #fff, 517px 793px #fff, 2214px 1503px #fff,
    829px 242px #fff, 2521px 335px #fff, 1508px 754px #fff, 1671px 2538px #fff,
    170px 2388px #fff, 1790px 1226px #fff, 644px 826px #fff, 1981px 21px #fff,
    255px 2348px #fff, 1178px 1647px #fff, 2400px 1904px #fff, 973px 2513px #fff,
    2545px 958px #fff, 2481px 2094px #fff, 1156px 590px #fff, 792px 2163px #fff,
    1351px 2325px #fff, 2246px 1087px #fff, 1855px 2494px #fff,
    1768px 589px #fff, 2173px 395px #fff, 2399px 2086px #fff, 1014px 2000px #fff,
    1892px 759px #fff, 194px 1340px #fff, 2325px 864px #fff, 1768px 740px #fff,
    1483px 713px #fff, 1672px 1686px #fff, 1588px 1781px #fff,
    1121px 1717px #fff, 2376px 926px #fff, 273px 642px #fff, 1881px 580px #fff,
    1519px 527px #fff, 896px 1357px #fff, 1295px 386px #fff, 2336px 1285px #fff,
    1955px 1486px #fff, 410px 1689px #fff, 1020px 2345px #fff,
    2296px 1030px #fff, 368px 1390px #fff, 2077px 2476px #fff, 2537px 855px #fff,
    1798px 29px #fff, 2217px 152px #fff, 2120px 1966px #fff, 2452px 2145px #fff,
    2207px 102px #fff, 1369px 2085px #fff, 613px 2198px #fff, 2014px 55px #fff,
    1837px 2297px #fff, 1757px 397px #fff, 1554px 1974px #fff, 43px 1428px #fff,
    751px 179px #fff, 896px 1855px #fff, 786px 329px #fff, 127px 138px #fff,
    420px 1136px #fff, 1439px 2552px #fff, 130px 644px #fff, 2347px 683px #fff,
    566px 1243px #fff, 57px 13px #fff, 1946px 422px #fff, 1431px 504px #fff,
    1405px 2048px #fff, 912px 1447px #fff, 2185px 1058px #fff, 1143px 154px #fff,
    2192px 1115px #fff, 980px 525px #fff, 509px 125px #fff, 183px 2093px #fff,
    740px 1888px #fff, 135px 118px #fff, 188px 387px #fff, 992px 1263px #fff,
    1221px 1753px #fff, 1288px 787px #fff, 466px 1635px #fff, 547px 1555px #fff,
    2469px 2170px #fff, 623px 765px #fff, 845px 608px #fff, 1166px 1850px #fff,
    1806px 483px #fff, 80px 409px #fff, 691px 556px #fff, 1278px 1083px #fff,
    212px 1591px #fff, 2264px 1958px #fff, 1245px 102px #fff, 46px 1758px #fff,
    2253px 2126px #fff, 1207px 88px #fff, 487px 401px #fff, 746px 1266px #fff,
    221px 2374px #fff, 1566px 2542px #fff, 285px 297px #fff, 1920px 2370px #fff,
    432px 2178px #fff, 2094px 1178px #fff, 1331px 1660px #fff, 2350px 689px #fff,
    242px 551px #fff, 254px 404px #fff, 2045px 911px #fff, 1857px 1983px #fff,
    272px 2156px #fff, 73px 1310px #fff, 1244px 2264px #fff, 1117px 773px #fff,
    1949px 2402px #fff, 2388px 494px #fff, 720px 932px #fff, 2497px 1436px #fff,
    2368px 33px #fff, 2510px 2167px #fff, 2354px 2422px #fff, 1842px 2019px #fff,
    722px 2247px #fff, 1459px 952px #fff, 352px 2359px #fff, 1345px 269px #fff,
    1129px 425px #fff, 1719px 344px #fff, 1302px 1855px #fff, 1631px 2067px #fff,
    1579px 2499px #fff, 304px 1744px #fff, 236px 2096px #fff, 807px 416px #fff,
    1942px 414px #fff, 1457px 1521px #fff, 1659px 851px #fff, 1315px 111px #fff,
    1727px 1520px #fff, 446px 2363px #fff, 2388px 984px #fff, 1177px 150px #fff,
    69px 928px #fff, 355px 2138px #fff, 1915px 1544px #fff, 1269px 382px #fff,
    2242px 560px #fff, 52px 984px #fff, 2351px 1861px #fff, 29px 2024px #fff,
    521px 2429px #fff, 1525px 2212px #fff, 1348px 2211px #fff,
    2436px 1335px #fff, 308px 446px #fff, 648px 1800px #fff, 571px 2438px #fff,
    2263px 1209px #fff, 1176px 509px #fff, 1440px 2047px #fff,
    1005px 1344px #fff, 2506px 1142px #fff, 1719px 1858px #fff,
    142px 2433px #fff, 2291px 217px #fff, 417px 1720px #fff, 813px 1185px #fff,
    713px 1690px #fff, 830px 1711px #fff, 248px 2468px #fff, 1448px 2249px #fff,
    720px 2224px #fff, 1534px 1620px #fff, 1046px 1632px #fff, 1357px 185px #fff,
    2548px 969px #fff, 2267px 61px #fff, 683px 2501px #fff, 2420px 593px #fff,
    1435px 740px #fff, 21px 420px #fff, 396px 2238px #fff, 2117px 1108px #fff,
    1462px 1751px #fff, 1559px 2376px #fff, 495px 1267px #fff, 582px 2049px #fff,
    1363px 1223px #fff, 1027px 719px #fff, 995px 584px #fff, 2476px 1014px #fff,
    576px 1097px #fff, 1516px 1224px #fff, 408px 2004px #fff, 2098px 1094px #fff,
    1882px 853px #fff, 2286px 84px #fff, 412px 729px #fff, 444px 250px #fff,
    2452px 1663px #fff, 1077px 138px #fff, 624px 1617px #fff, 2273px 796px #fff,
    2308px 335px #fff, 2020px 1102px #fff, 1307px 2000px #fff, 2158px 486px #fff,
    707px 1559px #fff, 911px 1719px #fff, 438px 2529px #fff, 1945px 641px #fff,
    1964px 475px #fff, 820px 2074px #fff, 2479px 1356px #fff, 2296px 634px #fff,
    1356px 715px #fff, 654px 1801px #fff, 1819px 1651px #fff, 1351px 1013px #fff,
    510px 280px #fff, 2316px 620px #fff, 796px 796px #fff, 996px 73px #fff,
    2328px 849px #fff, 2048px 2518px #fff, 2507px 419px #fff, 918px 624px #fff,
    961px 1802px #fff, 1574px 2001px #fff, 1824px 605px #fff, 2555px 113px #fff,
    1184px 718px #fff, 2305px 1884px #fff, 1034px 264px #fff, 410px 386px #fff,
    144px 2241px #fff, 2392px 1335px #fff, 1678px 290px #fff, 2279px 828px #fff,
    2345px 521px #fff, 452px 584px #fff, 635px 2297px #fff, 1763px 731px #fff,
    2334px 1230px #fff, 1316px 309px #fff, 8px 2193px #fff, 2165px 2158px #fff,
    247px 91px #fff, 1399px 629px #fff, 1109px 1091px #fff, 2018px 1739px #fff,
    1684px 1430px #fff, 892px 1254px #fff, 1053px 460px #fff, 1034px 1800px #fff,
    527px 137px #fff, 1593px 1188px #fff, 2190px 928px #fff, 1514px 2169px #fff,
    1910px 949px #fff, 137px 2484px #fff, 115px 433px #fff, 1763px 1861px #fff,
    711px 1677px #fff, 1729px 793px #fff, 416px 1339px #fff, 141px 1712px #fff,
    1308px 247px #fff, 2520px 2364px #fff, 2112px 2450px #fff,
    1651px 1460px #fff, 1328px 495px #fff, 1303px 1281px #fff, 871px 2521px #fff,
    2111px 2520px #fff, 1842px 1746px #fff, 787px 1806px #fff, 2126px 258px #fff,
    507px 1808px #fff, 1341px 5px #fff, 1183px 1340px #fff, 989px 1506px #fff,
    1861px 18px #fff, 2151px 995px #fff, 835px 780px #fff, 2380px 1813px #fff,
    642px 709px #fff, 1317px 1160px #fff, 642px 977px #fff, 524px 1721px #fff,
    177px 2511px #fff, 1513px 1763px #fff, 1031px 1544px #fff,
    1918px 2123px #fff, 1747px 1632px #fff, 1860px 2059px #fff, 828px 468px #fff,
    260px 2008px #fff, 1083px 1715px #fff, 1584px 412px #fff, 2016px 739px #fff,
    221px 971px #fff, 1058px 880px #fff, 654px 1190px #fff, 2041px 903px #fff,
    321px 257px #fff, 1252px 2043px #fff, 1345px 1989px #fff, 977px 1217px #fff,
    307px 2468px #fff, 670px 2433px #fff, 1719px 1159px #fff, 209px 1082px #fff,
    598px 1023px #fff, 263px 522px #fff, 502px 2135px #fff, 1717px 188px #fff,
    594px 1327px #fff, 114px 1628px #fff, 938px 1319px #fff, 584px 1243px #fff,
    1728px 148px #fff, 907px 1674px #fff, 978px 1521px #fff, 904px 2181px #fff,
    1329px 1321px #fff, 88px 1360px #fff, 1576px 2231px #fff, 294px 495px #fff,
    2022px 1707px #fff, 693px 903px #fff, 407px 1982px #fff, 552px 540px #fff,
    2089px 481px #fff, 2499px 1550px #fff, 2213px 1983px #fff,
    2538px 1915px #fff, 884px 836px #fff, 1774px 1475px #fff, 746px 412px #fff,
    689px 841px #fff, 1539px 15px #fff;
  height: 1px;
  width: 1px;
}

.particle-2 {
  animation: animParticle 120s linear infinite;
  box-shadow: 0px 0px #fff, 1904px 1900px #fff, 1770px 1846px #fff,
    543px 923px #fff, 2370px 2258px #fff, 287px 1417px #fff, 516px 92px #fff,
    452px 2287px #fff, 560px 1234px #fff, 686px 359px #fff, 2365px 806px #fff,
    781px 2469px #fff, 315px 356px #fff, 650px 1337px #fff, 924px 1907px #fff,
    2270px 639px #fff, 1494px 1101px #fff, 490px 1845px #fff, 1185px 1689px #fff,
    1390px 1843px #fff, 1875px 1005px #fff, 189px 1922px #fff, 1718px 705px #fff,
    1483px 612px #fff, 1506px 1732px #fff, 2018px 868px #fff, 1742px 2475px #fff,
    835px 339px #fff, 2138px 1287px #fff, 731px 1201px #fff, 801px 1488px #fff,
    1677px 982px #fff, 2325px 2350px #fff, 1614px 990px #fff, 635px 118px #fff,
    385px 385px #fff, 697px 16px #fff, 134px 2283px #fff, 917px 433px #fff,
    1849px 1701px #fff, 1758px 1372px #fff, 1690px 255px #fff, 672px 1305px #fff,
    98px 2016px #fff, 150px 866px #fff, 1314px 430px #fff, 275px 587px #fff,
    430px 386px #fff, 1102px 1183px #fff, 1621px 1798px #fff, 375px 258px #fff,
    1928px 134px #fff, 342px 1027px #fff, 1063px 1965px #fff, 938px 2249px #fff,
    1214px 13px #fff, 1387px 1366px #fff, 123px 1787px #fff, 1419px 2100px #fff,
    1064px 631px #fff, 2251px 1764px #fff, 574px 2192px #fff, 1834px 2242px #fff,
    2539px 2432px #fff, 2219px 1046px #fff, 420px 548px #fff, 2453px 1948px #fff,
    2159px 652px #fff, 1455px 2137px #fff, 1591px 1701px #fff, 2029px 634px #fff,
    273px 1913px #fff, 890px 27px #fff, 76px 2545px #fff, 1852px 1213px #fff,
    1741px 2391px #fff, 2028px 413px #fff, 2255px 1915px #fff, 874px 326px #fff,
    1593px 660px #fff, 1282px 511px #fff, 930px 1023px #fff, 2434px 2166px #fff,
    1131px 2277px #fff, 1709px 1295px #fff, 683px 1891px #fff,
    2303px 1024px #fff, 417px 161px #fff, 157px 2223px #fff, 806px 1354px #fff,
    1568px 470px #fff, 324px 114px #fff, 617px 1473px #fff, 762px 1522px #fff,
    1590px 2517px #fff, 2490px 2415px #fff, 2547px 2223px #fff,
    1040px 2333px #fff, 1067px 1809px #fff, 959px 2419px #fff, 1296px 506px #fff,
    1880px 1839px #fff, 370px 2452px #fff, 1407px 774px #fff, 433px 902px #fff,
    2332px 1932px #fff, 302px 2073px #fff, 1824px 118px #fff, 2213px 688px #fff,
    104px 1691px #fff, 968px 1463px #fff, 2512px 1887px #fff, 2255px 2355px #fff,
    2328px 1439px #fff, 2407px 1886px #fff, 14px 2047px #fff, 1881px 278px #fff,
    674px 2068px #fff, 1303px 326px #fff, 782px 824px #fff, 744px 597px #fff,
    1201px 205px #fff, 161px 2407px #fff, 1420px 749px #fff, 1634px 1276px #fff,
    2209px 369px #fff, 2404px 1302px #fff, 1878px 763px #fff, 824px 324px #fff,
    1601px 831px #fff, 19px 1488px #fff, 1459px 1710px #fff, 131px 626px #fff,
    1070px 1885px #fff, 2143px 2287px #fff, 238px 711px #fff, 1480px 2268px #fff,
    2154px 2391px #fff, 2351px 247px #fff, 888px 2416px #fff, 1337px 1535px #fff,
    1750px 1934px #fff, 2115px 601px #fff, 598px 1105px #fff, 1543px 1717px #fff,
    1797px 2380px #fff, 213px 1852px #fff, 1720px 2123px #fff, 898px 354px #fff,
    2324px 851px #fff, 64px 1214px #fff, 1991px 1324px #fff, 263px 489px #fff,
    55px 406px #fff, 2315px 1737px #fff, 7px 1999px #fff, 472px 536px #fff,
    24px 918px #fff, 1012px 384px #fff, 2114px 262px #fff, 2022px 414px #fff,
    529px 1530px #fff, 768px 562px #fff, 3px 2507px #fff, 341px 1588px #fff,
    1976px 1113px #fff, 2458px 2383px #fff, 1211px 302px #fff,
    1733px 1240px #fff, 1474px 667px #fff, 2429px 246px #fff, 204px 1656px #fff,
    498px 2478px #fff, 1153px 727px #fff, 1910px 1435px #fff, 1720px 2025px #fff,
    1764px 993px #fff, 1927px 1761px #fff, 1269px 1242px #fff,
    1691px 1644px #fff, 2510px 2px #fff, 732px 1067px #fff, 1567px 262px #fff,
    15px 1811px #fff, 1995px 239px #fff, 1905px 323px #fff, 1491px 866px #fff,
    1285px 2048px #fff, 2490px 877px #fff, 1987px 2237px #fff, 349px 2099px #fff,
    1424px 262px #fff, 1167px 1073px #fff, 2177px 654px #fff, 558px 2192px #fff,
    2340px 1627px #fff, 995px 1336px #fff, 581px 273px #fff, 1240px 1864px #fff,
    1920px 2249px #fff, 141px 2159px #fff;
  height: 2px;
  width: 2px;
}

.particle-2:after {
  box-shadow: 0px 0px #fff, 1293px 1632px #fff, 656px 2284px #fff,
    1930px 2500px #fff, 192px 1151px #fff, 228px 114px #fff, 1082px 533px #fff,
    372px 1141px #fff, 1717px 481px #fff, 1292px 1483px #fff, 1777px 2124px #fff,
    2270px 1900px #fff, 74px 919px #fff, 2391px 843px #fff, 477px 145px #fff,
    1849px 1339px #fff, 771px 39px #fff, 626px 382px #fff, 119px 929px #fff,
    548px 1440px #fff, 928px 82px #fff, 487px 2489px #fff, 2018px 1137px #fff,
    591px 1626px #fff, 26px 75px #fff, 374px 1331px #fff, 953px 18px #fff,
    1791px 103px #fff, 1115px 902px #fff, 445px 2421px #fff, 1273px 726px #fff,
    225px 400px #fff, 966px 2232px #fff, 1522px 1352px #fff, 1489px 608px #fff,
    2132px 2073px #fff, 21px 1812px #fff, 2454px 1964px #fff, 177px 1605px #fff,
    62px 1368px #fff, 2250px 1727px #fff, 153px 1428px #fff, 484px 1656px #fff,
    1078px 1045px #fff, 2283px 756px #fff, 1401px 164px #fff, 125px 1452px #fff,
    2098px 1878px #fff, 1704px 1161px #fff, 756px 2552px #fff,
    1796px 1907px #fff, 1344px 18px #fff, 1562px 581px #fff, 965px 1545px #fff,
    1098px 214px #fff, 1908px 432px #fff, 1897px 752px #fff, 1207px 1372px #fff,
    1205px 1956px #fff, 1573px 1190px #fff, 1307px 927px #fff,
    1198px 1340px #fff, 298px 1505px #fff, 1444px 532px #fff, 1404px 1930px #fff,
    651px 94px #fff, 602px 699px #fff, 3px 479px #fff, 1590px 185px #fff,
    1603px 1877px #fff, 1916px 527px #fff, 1311px 2px #fff, 650px 315px #fff,
    1142px 1401px #fff, 485px 84px #fff, 607px 268px #fff, 606px 2437px #fff,
    465px 323px #fff, 1763px 242px #fff, 1367px 425px #fff, 2424px 774px #fff,
    1483px 2078px #fff, 766px 135px #fff, 118px 297px #fff, 24px 2421px #fff,
    1531px 1296px #fff, 2123px 634px #fff, 2054px 400px #fff, 2063px 1572px #fff,
    793px 535px #fff, 287px 64px #fff, 251px 1448px #fff, 2266px 437px #fff,
    2408px 2395px #fff, 560px 2456px #fff, 1751px 2215px #fff, 538px 2011px #fff,
    1328px 1255px #fff, 1411px 2014px #fff, 865px 123px #fff, 324px 2051px #fff,
    2352px 1867px #fff, 348px 847px #fff, 1560px 663px #fff, 1097px 2489px #fff,
    2314px 1696px #fff, 1057px 1771px #fff, 1759px 2233px #fff,
    1028px 154px #fff, 2365px 920px #fff, 1467px 919px #fff, 1532px 183px #fff,
    454px 1080px #fff, 2354px 1567px #fff, 1860px 70px #fff, 1704px 1160px #fff,
    175px 1071px #fff, 1600px 856px #fff, 325px 959px #fff, 175px 1981px #fff,
    1621px 1382px #fff, 1569px 2366px #fff, 681px 674px #fff, 1741px 1023px #fff,
    1053px 2292px #fff, 1529px 1445px #fff, 1536px 772px #fff, 436px 23px #fff,
    1723px 2339px #fff, 1814px 148px #fff, 1424px 661px #fff, 943px 49px #fff,
    2367px 354px #fff, 1529px 2046px #fff, 2051px 2540px #fff, 566px 1253px #fff,
    2001px 2268px #fff, 2168px 2452px #fff, 605px 2256px #fff,
    2457px 1667px #fff, 268px 184px #fff, 798px 860px #fff, 752px 2063px #fff,
    261px 1649px #fff, 1953px 1788px #fff, 1113px 1074px #fff, 541px 1698px #fff,
    1049px 1980px #fff, 516px 643px #fff, 896px 1278px #fff, 2058px 721px #fff,
    581px 2435px #fff, 1682px 368px #fff, 1503px 1539px #fff, 2007px 314px #fff,
    1684px 283px #fff, 194px 1411px #fff, 1216px 541px #fff, 2514px 1389px #fff,
    1648px 368px #fff, 1523px 133px #fff, 401px 33px #fff, 1761px 1858px #fff,
    1877px 1289px #fff, 2206px 2190px #fff, 2545px 1133px #fff,
    1189px 2407px #fff, 2232px 852px #fff, 1277px 1535px #fff,
    1873px 1024px #fff, 597px 341px #fff, 464px 732px #fff, 413px 1981px #fff,
    619px 1501px #fff, 675px 510px #fff, 1694px 344px #fff, 2136px 2246px #fff,
    1296px 1282px #fff, 735px 2372px #fff, 786px 2411px #fff, 866px 1974px #fff,
    1141px 1528px #fff, 1814px 2097px #fff, 471px 1794px #fff,
    2320px 1885px #fff, 1819px 1668px #fff, 1225px 304px #fff, 1945px 636px #fff,
    1129px 1574px #fff, 2537px 2410px #fff, 2240px 1698px #fff,
    1191px 567px #fff, 2117px 1862px #fff, 1230px 740px #fff, 1207px 1875px #fff,
    2275px 239px #fff, 1240px 1763px #fff, 2144px 2021px #fff, 14px 1078px #fff,
    735px 366px #fff, 618px 2422px #fff;
  height: 2px;
  width: 2px;
}

.particle-3 {
  animation: animParticle 180s linear infinite;
  box-shadow: 0px 0px #fff, 2232px 1555px #fff, 511px 820px #fff,
    1695px 1158px #fff, 470px 1446px #fff, 470px 1660px #fff, 1045px 2282px #fff,
    1230px 536px #fff, 2488px 332px #fff, 261px 2498px #fff, 1314px 492px #fff,
    941px 970px #fff, 2441px 1383px #fff, 442px 851px #fff, 395px 1728px #fff,
    618px 2410px #fff, 2397px 2078px #fff, 1270px 2163px #fff, 31px 2296px #fff,
    2186px 1970px #fff, 2224px 767px #fff, 2244px 941px #fff, 1513px 182px #fff,
    1373px 336px #fff, 2061px 2464px #fff, 77px 2164px #fff, 956px 1213px #fff,
    37px 1202px #fff, 472px 1086px #fff, 2236px 581px #fff, 427px 2333px #fff,
    977px 1593px #fff, 2075px 2237px #fff, 71px 61px #fff, 1563px 963px #fff,
    2100px 1893px #fff, 1197px 1179px #fff, 1376px 520px #fff, 299px 1053px #fff,
    1537px 490px #fff, 2247px 7px #fff, 236px 26px #fff, 830px 689px #fff,
    1034px 2093px #fff, 1381px 2379px #fff, 1223px 1770px #fff,
    1444px 1484px #fff, 909px 1169px #fff, 265px 1766px #fff, 1561px 1234px #fff,
    7px 1704px #fff, 1148px 1167px #fff, 2534px 169px #fff, 1305px 425px #fff,
    108px 1113px #fff, 105px 1002px #fff, 1356px 716px #fff, 1041px 816px #fff,
    15px 1201px #fff, 595px 1722px #fff, 2470px 1619px #fff, 323px 1997px #fff,
    220px 1191px #fff, 1314px 841px #fff, 2243px 653px #fff, 532px 25px #fff,
    306px 302px #fff, 2376px 2252px #fff, 1302px 436px #fff, 1261px 824px #fff,
    1855px 55px #fff, 571px 1094px #fff, 1724px 703px #fff, 867px 1747px #fff,
    247px 51px #fff, 2548px 2345px #fff, 365px 1791px #fff, 457px 1112px #fff,
    383px 347px #fff, 40px 1634px #fff, 1265px 407px #fff, 1775px 25px #fff,
    88px 431px #fff, 1212px 2164px #fff, 214px 1962px #fff, 1406px 1348px #fff,
    214px 80px #fff, 2305px 916px #fff, 1585px 2123px #fff, 718px 2085px #fff,
    1522px 2094px #fff, 1011px 1814px #fff, 1938px 2445px #fff,
    106px 1028px #fff, 744px 1321px #fff, 258px 2411px #fff, 1266px 1185px #fff,
    1619px 2112px #fff, 1619px 669px #fff, 612px 499px #fff, 839px 1248px #fff;
  height: 3px;
  width: 3px;
}

.particle-3:after {
  box-shadow: 0px 0px #fff, 1604px 2085px #fff, 246px 1043px #fff,
    2475px 2370px #fff, 609px 51px #fff, 457px 342px #fff, 43px 1514px #fff,
    451px 1927px #fff, 1585px 2028px #fff, 1734px 1863px #fff,
    2062px 2547px #fff, 87px 87px #fff, 2008px 2431px #fff, 1192px 268px #fff,
    1514px 1849px #fff, 2243px 139px #fff, 2340px 1498px #fff, 831px 1505px #fff,
    2176px 1683px #fff, 1010px 1004px #fff, 1291px 547px #fff,
    2178px 2326px #fff, 1645px 1480px #fff, 705px 928px #fff, 2384px 1835px #fff,
    91px 644px #fff, 1000px 70px #fff, 538px 1624px #fff, 2346px 769px #fff,
    643px 1767px #fff, 13px 1336px #fff, 2528px 342px #fff, 1072px 466px #fff,
    1664px 1304px #fff, 1372px 2049px #fff, 532px 393px #fff, 1636px 1902px #fff,
    684px 1630px #fff, 1870px 1106px #fff, 2353px 2054px #fff, 268px 352px #fff,
    305px 1350px #fff, 1194px 2401px #fff, 1769px 2181px #fff, 187px 2092px #fff,
    2490px 1527px #fff, 343px 1597px #fff, 2238px 2153px #fff, 1741px 927px #fff,
    1450px 1281px #fff, 503px 2067px #fff, 1012px 910px #fff, 1046px 1467px #fff,
    65px 584px #fff, 1853px 2462px #fff, 1982px 1995px #fff, 661px 1281px #fff,
    1735px 2434px #fff, 2507px 786px #fff, 1268px 842px #fff, 2165px 1819px #fff,
    2550px 1757px #fff, 576px 166px #fff, 916px 2436px #fff, 2498px 1460px #fff,
    2408px 382px #fff, 2519px 512px #fff, 205px 1227px #fff, 762px 238px #fff,
    2225px 423px #fff, 252px 2092px #fff, 1647px 1960px #fff, 1007px 497px #fff,
    1px 1926px #fff, 1246px 388px #fff, 1766px 1996px #fff, 1265px 964px #fff,
    2528px 396px #fff, 551px 151px #fff, 1552px 261px #fff, 295px 1493px #fff,
    762px 1333px #fff, 1655px 729px #fff, 719px 523px #fff, 1549px 1913px #fff,
    1400px 957px #fff, 2486px 270px #fff, 565px 2139px #fff, 719px 1615px #fff,
    352px 1364px #fff, 1641px 1147px #fff, 592px 1884px #fff, 1536px 1212px #fff,
    1776px 1768px #fff, 1624px 2221px #fff, 2081px 2424px #fff, 276px 780px #fff,
    444px 2085px #fff, 1747px 1639px #fff, 1113px 1072px #fff, 166px 2498px #fff;
  height: 3px;
  width: 3px;
}

.particle-4 {
  animation: animParticle 600s linear infinite;
  box-shadow: 0px 0px #fff, 1385px 2266px #fff, 2206px 359px #fff,
    54px 116px #fff, 1727px 1975px #fff, 2156px 559px #fff, 702px 1659px #fff,
    2139px 1954px #fff, 1837px 1999px #fff, 22px 1926px #fff, 2169px 998px #fff,
    1906px 1563px #fff, 2333px 2243px #fff, 1766px 1875px #fff,
    2360px 160px #fff, 161px 1171px #fff, 1568px 429px #fff, 1051px 309px #fff,
    1758px 144px #fff, 200px 1572px #fff, 2230px 316px #fff, 1885px 794px #fff,
    2464px 1249px #fff, 1890px 197px #fff, 2507px 2499px #fff, 956px 1369px #fff,
    496px 1887px #fff, 1319px 1622px #fff, 1637px 1924px #fff, 1615px 327px #fff,
    2152px 872px #fff, 598px 1253px #fff, 2009px 514px #fff, 1016px 507px #fff,
    2432px 192px #fff, 99px 308px #fff, 2313px 2472px #fff, 1481px 1406px #fff,
    1824px 1273px #fff, 1672px 1012px #fff, 95px 1386px #fff, 11px 2502px #fff,
    661px 516px #fff, 594px 1496px #fff, 1334px 2222px #fff, 1926px 2365px #fff,
    536px 418px #fff, 202px 2104px #fff, 202px 1037px #fff, 2538px 827px #fff,
    2452px 946px #fff, 1546px 1943px #fff, 2342px 1104px #fff, 632px 2230px #fff,
    1966px 1136px #fff, 960px 957px #fff, 376px 2130px #fff, 1029px 2386px #fff,
    684px 1414px #fff, 1508px 1386px #fff, 2068px 595px #fff, 753px 1924px #fff,
    681px 2518px #fff, 1040px 537px #fff, 1457px 1245px #fff, 592px 2403px #fff,
    96px 522px #fff, 44px 1686px #fff, 122px 2154px #fff, 1098px 1883px #fff,
    424px 1267px #fff, 291px 608px #fff, 560px 2188px #fff, 624px 1360px #fff,
    1194px 782px #fff, 842px 165px #fff, 1631px 1855px #fff, 282px 2504px #fff,
    2369px 1043px #fff, 1509px 2515px #fff, 1922px 30px #fff, 1772px 1096px #fff,
    2446px 857px #fff, 624px 2429px #fff, 2335px 2182px #fff, 1757px 1934px #fff,
    535px 1398px #fff, 538px 828px #fff, 2491px 1052px #fff, 206px 2037px #fff,
    1689px 624px #fff, 775px 2315px #fff, 2291px 580px #fff, 416px 1109px #fff,
    422px 1035px #fff, 589px 336px #fff, 1032px 1550px #fff, 863px 576px #fff,
    2396px 1416px #fff, 1088px 774px #fff, 1010px 1660px #fff,
    1668px 1025px #fff, 1204px 2357px #fff, 820px 1648px #fff,
    2257px 1376px #fff, 2410px 2015px #fff, 682px 2484px #fff, 1895px 773px #fff,
    869px 1882px #fff, 1446px 751px #fff, 1402px 1819px #fff, 1788px 1920px #fff,
    1250px 2200px #fff, 2201px 1005px #fff, 1717px 958px #fff, 1058px 887px #fff,
    375px 591px #fff, 1552px 1410px #fff, 1055px 2493px #fff, 1265px 1782px #fff,
    562px 2315px #fff, 929px 485px #fff, 1113px 667px #fff, 272px 1934px #fff,
    2463px 775px #fff, 550px 1433px #fff, 2011px 1020px #fff, 1487px 608px #fff,
    1138px 548px #fff, 656px 1798px #fff, 1144px 2148px #fff, 563px 407px #fff,
    141px 206px #fff, 1695px 807px #fff, 1218px 1497px #fff, 2304px 210px #fff,
    2149px 1657px #fff, 1199px 1119px #fff, 2315px 1968px #fff,
    1519px 1778px #fff, 1937px 607px #fff, 722px 1217px #fff, 1328px 754px #fff,
    1077px 2200px #fff, 1048px 1949px #fff, 1687px 1053px #fff,
    1566px 1411px #fff, 2091px 1157px #fff, 359px 37px #fff, 1924px 1674px #fff,
    588px 879px #fff, 296px 1180px #fff, 2534px 985px #fff, 1987px 213px #fff,
    470px 906px #fff, 1076px 2309px #fff, 2518px 1315px #fff, 1449px 1607px #fff,
    497px 1065px #fff, 1128px 2175px #fff, 102px 334px #fff, 862px 1276px #fff,
    666px 2244px #fff, 266px 2318px #fff, 1493px 1854px #fff, 432px 1742px #fff,
    1476px 1291px #fff, 1167px 1031px #fff, 1242px 1789px #fff,
    1679px 1273px #fff, 1589px 1147px #fff, 2318px 1371px #fff, 826px 928px #fff,
    1358px 1266px #fff, 1116px 508px #fff, 614px 1062px #fff, 1074px 2124px #fff,
    84px 1150px #fff, 1620px 2385px #fff, 2097px 1395px #fff, 1951px 2421px #fff,
    813px 377px #fff, 2323px 748px #fff, 1901px 1812px #fff, 1720px 1941px #fff,
    2047px 2424px #fff, 579px 88px #fff, 1957px 879px #fff, 2363px 1691px #fff,
    738px 2068px #fff, 946px 1926px #fff, 229px 2331px #fff, 1988px 1499px #fff,
    123px 1010px #fff, 535px 1424px #fff, 1188px 220px #fff, 2538px 2514px #fff,
    675px 2347px #fff, 1941px 427px #fff, 968px 1210px #fff, 1576px 743px #fff,
    1180px 2406px #fff, 1167px 824px #fff, 2370px 2106px #fff, 146px 2029px #fff,
    1054px 1476px #fff, 1750px 2065px #fff, 1554px 601px #fff, 540px 1147px #fff,
    2399px 227px #fff, 1902px 1062px #fff, 761px 1186px #fff, 1023px 1731px #fff,
    884px 95px #fff, 346px 899px #fff, 225px 1301px #fff, 458px 1747px #fff,
    1173px 2160px #fff, 392px 1989px #fff, 1686px 971px #fff, 1857px 812px #fff,
    1274px 1994px #fff, 574px 941px #fff, 1630px 2461px #fff, 1385px 938px #fff,
    2180px 1081px #fff, 126px 1716px #fff, 2135px 1325px #fff,
    1903px 1521px #fff, 254px 131px #fff, 2553px 1370px #fff, 388px 2200px #fff,
    1483px 1144px #fff, 64px 1721px #fff, 2526px 188px #fff, 44px 1835px #fff,
    1399px 2409px #fff, 1729px 395px #fff, 1488px 240px #fff, 807px 244px #fff,
    2318px 203px #fff, 1857px 2071px #fff, 650px 1498px #fff, 597px 1520px #fff,
    1786px 822px #fff, 221px 96px #fff, 2243px 2137px #fff, 1113px 2188px #fff,
    1888px 1126px #fff, 1678px 882px #fff, 1699px 839px #fff, 1976px 791px #fff,
    1326px 1463px #fff, 809px 6px #fff, 158px 434px #fff, 1147px 714px #fff,
    1415px 432px #fff, 2348px 1307px #fff, 961px 281px #fff, 885px 2055px #fff,
    1734px 1614px #fff, 2000px 640px #fff, 372px 1875px #fff, 1600px 1662px #fff,
    1021px 843px #fff, 1113px 1716px #fff, 2144px 1360px #fff,
    1468px 1200px #fff, 1372px 74px #fff, 1925px 1776px #fff, 1443px 2531px #fff,
    1135px 1529px #fff, 1159px 919px #fff, 2019px 2140px #fff,
    2017px 2010px #fff, 1675px 1808px #fff, 2106px 659px #fff, 338px 2002px #fff,
    449px 507px #fff, 1719px 90px #fff, 307px 605px #fff, 739px 2501px #fff,
    1399px 1349px #fff, 2476px 1559px #fff, 670px 1436px #fff,
    1249px 1941px #fff, 512px 2059px #fff, 1926px 1951px #fff,
    2431px 1035px #fff, 1014px 1990px #fff, 1620px 1781px #fff, 611px 476px #fff,
    2124px 939px #fff, 292px 2005px #fff, 1178px 1101px #fff, 2209px 42px #fff,
    797px 1879px #fff, 1102px 2454px #fff, 2092px 1680px #fff, 179px 2534px #fff,
    622px 2189px #fff, 1552px 979px #fff, 1819px 980px #fff, 47px 472px #fff,
    1010px 1400px #fff, 1594px 825px #fff, 1905px 122px #fff, 2113px 366px #fff,
    173px 1456px #fff, 1527px 1101px #fff, 679px 455px #fff, 692px 1987px #fff,
    2032px 359px #fff, 1206px 1521px #fff, 2452px 961px #fff, 422px 388px #fff,
    1970px 1985px #fff, 699px 2418px #fff, 649px 1963px #fff, 239px 2468px #fff,
    2006px 2462px #fff, 1796px 779px #fff, 2453px 2108px #fff,
    2388px 2423px #fff, 429px 555px #fff, 1727px 1430px #fff, 310px 2204px #fff,
    1355px 663px #fff, 144px 2252px #fff, 213px 2495px #fff, 1463px 2014px #fff,
    584px 11px #fff, 430px 2444px #fff, 1982px 2140px #fff, 2208px 875px #fff,
    2479px 2507px #fff, 976px 1356px #fff, 1374px 2379px #fff, 170px 2287px #fff,
    1280px 2371px #fff, 666px 2081px #fff, 1030px 2327px #fff, 557px 358px #fff,
    1505px 1067px #fff, 2504px 352px #fff, 775px 132px #fff, 1783px 2473px #fff,
    58px 2530px #fff, 1729px 1413px #fff, 1831px 853px #fff, 2525px 1978px #fff,
    2006px 10px #fff, 158px 462px #fff, 1024px 2545px #fff, 457px 284px #fff,
    985px 829px #fff, 2192px 874px #fff, 1847px 1791px #fff, 1310px 9px #fff,
    2325px 295px #fff, 956px 622px #fff, 1247px 2060px #fff, 1609px 2267px #fff,
    458px 528px #fff, 1982px 1300px #fff, 996px 460px #fff, 131px 947px #fff,
    749px 73px #fff, 910px 326px #fff, 913px 810px #fff, 949px 366px #fff,
    277px 638px #fff, 1620px 205px #fff, 462px 1502px #fff, 820px 1295px #fff,
    2506px 1811px #fff, 252px 1256px #fff, 2410px 825px #fff, 1656px 136px #fff,
    1159px 1043px #fff, 860px 747px #fff, 757px 1372px #fff, 63px 565px #fff,
    378px 1002px #fff, 1747px 2239px #fff, 805px 1895px #fff, 1879px 1522px #fff,
    1520px 1415px #fff, 1103px 1325px #fff, 65px 5px #fff, 1346px 2425px #fff,
    150px 1040px #fff, 1336px 887px #fff, 1898px 1589px #fff, 973px 1143px #fff,
    1733px 2197px #fff, 232px 588px #fff, 2440px 1878px #fff, 73px 1907px #fff,
    1425px 1817px #fff, 484px 213px #fff;
  height: 1px;
  width: 1px;
}

.particle-4:after {
  box-shadow: 0px 0px #fff, 1311px 977px #fff, 737px 131px #fff,
    1756px 575px #fff, 738px 1301px #fff, 2280px 1331px #fff, 465px 248px #fff,
    52px 1457px #fff, 1526px 1274px #fff, 273px 1607px #fff, 58px 2239px #fff,
    335px 1453px #fff, 1528px 540px #fff, 2106px 209px #fff, 681px 1059px #fff,
    2439px 879px #fff, 1468px 2313px #fff, 2193px 2250px #fff, 2140px 988px #fff,
    785px 78px #fff, 781px 259px #fff, 1273px 1033px #fff, 296px 1025px #fff,
    1705px 2425px #fff, 2311px 1688px #fff, 1293px 2058px #fff, 60px 1076px #fff,
    1709px 2462px #fff, 236px 1366px #fff, 1797px 1947px #fff, 650px 1928px #fff,
    2168px 182px #fff, 672px 2420px #fff, 684px 1856px #fff, 2099px 920px #fff,
    2219px 602px #fff, 1795px 277px #fff, 2497px 1889px #fff, 827px 1744px #fff,
    1635px 1384px #fff, 494px 2171px #fff, 678px 1727px #fff, 518px 2485px #fff,
    742px 1646px #fff, 239px 1971px #fff, 2407px 1707px #fff, 161px 800px #fff,
    2386px 875px #fff, 1386px 357px #fff, 2330px 309px #fff, 748px 2425px #fff,
    1253px 2515px #fff, 1261px 2142px #fff, 241px 215px #fff, 1880px 2072px #fff,
    1646px 1144px #fff, 479px 60px #fff, 1079px 761px #fff, 2490px 970px #fff,
    301px 1428px #fff, 148px 1012px #fff, 632px 1699px #fff, 2026px 2428px #fff,
    2px 2050px #fff, 838px 1377px #fff, 2110px 1653px #fff, 856px 1363px #fff,
    1605px 584px #fff, 708px 1598px #fff, 1357px 2310px #fff, 1629px 766px #fff,
    2511px 629px #fff, 1234px 2332px #fff, 368px 2399px #fff, 1458px 2189px #fff,
    2072px 1627px #fff, 1542px 1711px #fff, 1618px 2210px #fff,
    1189px 837px #fff, 1822px 597px #fff, 374px 1983px #fff, 1554px 2125px #fff,
    260px 1395px #fff, 2237px 1846px #fff, 2239px 1337px #fff,
    1184px 1698px #fff, 2419px 1110px #fff, 625px 222px #fff, 1944px 1782px #fff,
    1846px 1334px #fff, 1166px 83px #fff, 2359px 1489px #fff, 1429px 492px #fff,
    284px 2193px #fff, 1257px 1518px #fff, 758px 1896px #fff, 1550px 1609px #fff,
    1173px 526px #fff, 327px 1735px #fff, 1947px 1861px #fff, 850px 2197px #fff,
    2173px 850px #fff, 819px 2545px #fff, 898px 1310px #fff, 713px 309px #fff,
    2211px 186px #fff, 93px 69px #fff, 2194px 2176px #fff, 2424px 2198px #fff,
    1417px 807px #fff, 31px 1315px #fff, 1859px 1869px #fff, 140px 1007px #fff,
    1022px 2305px #fff, 1403px 2005px #fff, 688px 483px #fff, 1284px 1060px #fff,
    283px 1911px #fff, 499px 2109px #fff, 1973px 1821px #fff, 5px 425px #fff,
    1473px 2304px #fff, 2096px 928px #fff, 1390px 2497px #fff, 865px 1016px #fff,
    390px 709px #fff, 654px 967px #fff, 2068px 1663px #fff, 1261px 617px #fff,
    337px 796px #fff, 104px 1392px #fff, 915px 329px #fff, 585px 514px #fff,
    738px 2372px #fff, 1652px 116px #fff, 285px 1975px #fff, 1440px 1494px #fff,
    552px 2416px #fff, 1576px 1510px #fff, 1577px 1527px #fff, 1501px 707px #fff,
    2514px 2363px #fff, 686px 2123px #fff, 1461px 1152px #fff, 765px 1166px #fff,
    443px 1874px #fff, 2268px 1349px #fff, 688px 429px #fff, 2038px 289px #fff,
    232px 1088px #fff, 635px 1607px #fff, 2137px 2337px #fff, 410px 737px #fff,
    2314px 2355px #fff, 547px 44px #fff, 2142px 1935px #fff, 1047px 955px #fff,
    1418px 1528px #fff, 2545px 1032px #fff, 231px 2043px #fff,
    2038px 2095px #fff, 2531px 595px #fff, 2519px 2308px #fff, 210px 552px #fff,
    256px 1424px #fff, 905px 972px #fff, 161px 406px #fff, 398px 1163px #fff,
    2358px 1020px #fff, 1380px 404px #fff, 1060px 2272px #fff, 1606px 943px #fff,
    266px 137px #fff, 1125px 2433px #fff, 1684px 816px #fff, 2412px 2221px #fff,
    1565px 1666px #fff, 1064px 102px #fff, 183px 2404px #fff, 2478px 1891px #fff,
    162px 853px #fff, 2246px 1584px #fff, 1px 1160px #fff, 1771px 1159px #fff,
    1062px 1664px #fff, 502px 1955px #fff, 671px 1631px #fff, 2351px 1902px #fff,
    1017px 754px #fff, 99px 2334px #fff, 866px 2465px #fff, 90px 1px #fff,
    862px 1644px #fff, 120px 701px #fff, 1244px 335px #fff, 594px 1565px #fff,
    141px 438px #fff, 293px 497px #fff, 1318px 2428px #fff, 1976px 2400px #fff,
    2431px 172px #fff, 2163px 706px #fff, 1380px 2078px #fff, 644px 1923px #fff,
    444px 478px #fff, 1099px 1766px #fff, 2264px 2485px #fff, 2279px 2176px #fff,
    1188px 2329px #fff, 1281px 452px #fff, 1684px 1270px #fff, 1055px 312px #fff,
    814px 1801px #fff, 410px 860px #fff, 2185px 1735px #fff, 675px 606px #fff,
    468px 210px #fff, 1452px 726px #fff, 897px 1081px #fff, 140px 1375px #fff,
    1719px 550px #fff, 2490px 350px #fff, 2448px 2476px #fff, 259px 1849px #fff,
    1632px 2106px #fff, 2560px 2203px #fff, 1416px 1139px #fff, 2054px 54px #fff,
    514px 95px #fff, 1892px 1375px #fff, 1435px 255px #fff, 1560px 2043px #fff,
    2179px 2507px #fff, 446px 2163px #fff, 2487px 1128px #fff, 50px 1549px #fff,
    1818px 1833px #fff, 1701px 968px #fff, 1873px 2422px #fff, 1591px 520px #fff,
    12px 97px #fff, 867px 1731px #fff, 842px 419px #fff, 2330px 2019px #fff,
    348px 999px #fff, 2201px 1817px #fff, 209px 649px #fff, 1231px 1579px #fff,
    461px 377px #fff, 317px 1414px #fff, 898px 1886px #fff, 2381px 1522px #fff,
    1213px 2199px #fff, 435px 921px #fff, 2255px 1749px #fff, 2032px 497px #fff,
    2002px 1891px #fff, 2246px 1683px #fff, 78px 250px #fff, 2120px 1789px #fff,
    2067px 585px #fff, 1067px 1416px #fff, 2398px 798px #fff, 68px 1829px #fff,
    1948px 1010px #fff, 331px 1825px #fff, 143px 44px #fff, 917px 1478px #fff,
    2018px 449px #fff, 1348px 2099px #fff, 1779px 1382px #fff, 311px 2202px #fff,
    2386px 2185px #fff, 186px 1147px #fff, 1100px 23px #fff, 812px 2040px #fff,
    2184px 1376px #fff, 1198px 2529px #fff, 2338px 1818px #fff,
    1153px 376px #fff, 1299px 690px #fff, 1142px 1138px #fff, 2341px 1674px #fff,
    879px 2069px #fff, 2520px 1375px #fff, 2253px 2284px #fff, 2191px 64px #fff,
    588px 476px #fff, 1055px 925px #fff, 1121px 967px #fff, 2437px 1567px #fff,
    2450px 190px #fff, 1870px 1802px #fff, 540px 921px #fff, 844px 226px #fff,
    1189px 2024px #fff, 448px 1015px #fff, 418px 981px #fff, 804px 32px #fff,
    990px 302px #fff, 584px 1798px #fff, 708px 1774px #fff, 1135px 1804px #fff,
    1955px 1758px #fff, 644px 138px #fff, 2450px 157px #fff, 1734px 2133px #fff,
    2144px 1042px #fff, 745px 1677px #fff, 446px 1256px #fff, 2455px 486px #fff,
    1192px 1983px #fff, 10px 1291px #fff, 911px 1811px #fff, 2541px 316px #fff,
    545px 1246px #fff, 1905px 608px #fff, 1533px 2034px #fff, 95px 828px #fff,
    839px 2145px #fff, 2316px 73px #fff, 722px 1428px #fff, 647px 96px #fff,
    2286px 1504px #fff, 2247px 224px #fff, 1429px 1307px #fff, 1273px 783px #fff,
    1561px 1780px #fff, 770px 2042px #fff, 1637px 1498px #fff, 806px 1566px #fff,
    1630px 2036px #fff, 881px 2533px #fff, 1960px 1590px #fff,
    2482px 1466px #fff, 1435px 131px #fff, 2013px 1159px #fff,
    1141px 2519px #fff, 1299px 1366px #fff, 847px 1647px #fff,
    1591px 2152px #fff, 2407px 1984px #fff, 519px 2296px #fff, 1303px 813px #fff,
    921px 428px #fff, 414px 903px #fff, 486px 1771px #fff, 2386px 628px #fff,
    2445px 1341px #fff, 863px 977px #fff, 1077px 204px #fff, 485px 602px #fff,
    270px 2316px #fff, 1704px 2253px #fff, 831px 1186px #fff, 2110px 1413px #fff,
    2225px 1520px #fff, 2352px 1257px #fff, 2234px 1981px #fff,
    394px 1386px #fff, 1835px 749px #fff, 125px 1985px #fff, 330px 1338px #fff,
    1239px 1231px #fff, 2119px 1374px #fff, 971px 1787px #fff,
    2386px 1864px #fff, 1729px 1861px #fff, 2254px 1086px #fff,
    1197px 212px #fff, 348px 714px #fff, 1241px 15px #fff, 377px 1886px #fff,
    2310px 1387px #fff, 1882px 833px #fff, 1390px 708px #fff, 339px 2257px #fff,
    523px 1368px #fff, 53px 2174px #fff, 727px 1823px #fff, 1217px 409px #fff,
    2412px 1779px #fff, 823px 2476px #fff, 1310px 1384px #fff, 359px 1641px #fff,
    230px 2038px #fff, 2250px 1650px #fff, 2195px 2345px #fff, 525px 2366px #fff,
    322px 1872px #fff, 601px 1353px #fff, 1755px 540px #fff, 1787px 8px #fff,
    560px 203px #fff, 2146px 1591px #fff, 661px 479px #fff, 2148px 1687px #fff,
    1976px 2553px #fff, 1094px 121px #fff, 362px 193px #fff, 1648px 1903px #fff;
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2560px);
  }
}
.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 2;
}

/**
 * CODEPEN PROMOTION
 * unrelated to particle system
 */
.codepen-promo:active,
.codepen-promo:hover,
.codepen-promo:link,
.codepen-promo:visited {
  bottom: 30px;
  display: block;
  position: absolute;
  right: 30px;
  width: 200px;
  z-index: 99;
}

.codepen-promo-image {
  width: 100%;
}

.unsplash-promo:active,
.unsplash-promo:hover,
.unsplash-promo:link,
.unsplash-promo:visited {
  bottom: 30px;
  display: block;
  position: absolute;
  left: 30px;
  width: 400px;
  z-index: 99;
  color: #666;
  text-decoration: none;
} /*# sourceMappingURL=test.css.map */
